.colorr,.colorr-bg{
    color:darkblue; 
}

header{
    background-image: url(imgs/slide-1.jpg);
    height: 80vh;
    width:100vw;
    background-repeat: no-repeat;
    background-size:cover;
}
header .headd{
    opacity: 0.94;
}
.dark-mode{
    display: none;
}
.colorr-bg{
    background-color:darkblue; 
 }
#navv{
    width: 100%;
    z-index: 1;
    background-color: none;
}
#btnn{
    border-radius: 9cm;
    width: 50px;
    height: 50px;
    display: none;
    position: fixed;
    left: 95%;
    z-index: 2;
    background-color: darkblue;
}
.iconss{
transition: all 0.5s ease-in-out;
border: 1px solid #212529;
border-radius: 9999999cm;
}
.iconss :hover{
   background-color:darkblue;
}
.imgss{
    z-index: -1;
    width:15vw;
    height:30vh;
    filter: grayscale(100%);
}
.index{
    z-index: -1;
}
.index img:hover{
    background-color: red;
}
.imgss:hover{
    filter: grayscale(0%);
}
 .imgss:hover~.linkss .fa-facebook{
    color: blue;
}
img:hover~.linkss .fa-google{
    color: red;
}
img:hover~.linkss .fa-twitter{
    color: rgb(57, 109, 193);
}
img:hover~.linkss .fa-youtube{
    color: brown;
}
.linkss{
    padding-left: 20%;
}
footer{
    background-image: url(imgs/contact-bg.jpg);
    height: 80vh;
    width:100vw;
}
footer .foott{
    opacity: 0.9;
}
footer input,textarea{
    background-color: transparent;
    border-radius: 9px;
}
.ims {
    position: relative;
    z-index: -1;
}
.ims img{
    height:35vh;
    width: 100%;
}

.overlay{
    display:none;
}

section .ims img:hover~.overlay{
    display:block;
    position:absolute;
    background-color:rgba(235, 232, 72, 0.4);
    top:0;
    padding:10%;
    width:100%;
    height:100%;
}
#showmore{
    display: none;
}
#showbtnn{
    display: none;
}
#btnn{
    color: aliceblue;
}
footer div form textarea{
    width: 800px;
}
@media (max-width:767px){
   *{
    width: fit-content;
   }
   
  
}